<div class="editable-name-item">
  <button mat-mini-fab (click)="removeItem()">
    <mat-icon svgIcon="delete"></mat-icon>
  </button>
  <button mat-mini-fab (click)="editName()">
    <mat-icon svgIcon="edit"></mat-icon>
  </button>
  <div class="name-edit" *ngIf="isCurrentlyEdited()">
    <mat-form-field>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
    <button mat-mini-fab (click)="updateName()">
      <mat-icon svgIcon="accept"></mat-icon>
    </button>
    <button mat-mini-fab (click)="cancelNameEdit()">
      <mat-icon svgIcon="cancel"></mat-icon>
    </button>
  </div>
  <mat-label class="name-label" *ngIf="!isCurrentlyEdited()">{{name}}</mat-label>
</div>
