.editable-name-item {
  display: flex;
  align-items: center;
}

.editable-name-item button {
  margin-left: 5px;
}

.editable-name-item .name-label {
  margin-left: 5px;
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.name-edit {
  margin-left: 5px;
}

.name-edit button {
  margin-left: 5px;
}

.name-edit mat-form-field {
  min-width: 225px;
}

