<mat-card class="login-form">
  <mat-card-content class="login-form-content">
    <mat-form-field>
      <mat-select required="true"
                  [(value)]="serverUrl"
                  (change)="changeServerUrl()"
                  placeholder="Server">
        <mat-option *ngFor="let url of serverUrls"
                    [value]="url">
          {{url}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="loginWithGoogle()">LOGIN WITH GOOGLE</button>
    <button mat-button (click)="loginAnonymously()">CONTINUE ANONYMOUSLY</button>
  </mat-card-actions>
</mat-card>
