<div class="lists-page">
  <mat-card>
    <mat-card-content>
      <div class="lists">
        <new-item (onNewItemAdded)="addNewList($event)"></new-item>
        <mat-divider></mat-divider>
        <todo-lists [todoLists]="todoLists"
                    (onNameUpdate)="updateListName($event)"
                    (onRemove)="removeList($event)"
                    #lists></todo-lists>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="list-content">
    <mat-card-content>
      <todo [todoListId]="lists.selectedListId"></todo>
    </mat-card-content>
  </mat-card>
</div>
