.todos {
  padding-top: 0;
}

mat-list mat-list-item editable-name-item {
  width: 90%;
}

.spacer {
  flex: 1 1 auto;
}

.completed {
  text-decoration: line-through;
}

new-item {
  min-width: 450px;
}

search-field {
  min-width: 450px;
}

