<div class="list-navigation">
  <new-item (onNewItemAdded)="addNewTodo($event)"></new-item>
  <mat-divider></mat-divider>
  <search-field #search></search-field>
  <mat-divider></mat-divider>
  <todo-list-filtering #filter></todo-list-filtering>
  <mat-divider></mat-divider>
</div>
<mat-list class="todos">
  <mat-list-item *ngFor="let todo of (todos | nameSearch:search.searchedValue | filterByCompletion:filter.chosenFilter)"
                 [id]="todo.id">
    <editable-name-item [ngClass]="{'completed' : todo.is_complete}"
                        [id]="todo.id"
                        [name]="todo.name"
                        (onRemove)="removeTodo(todo.id)"
                        (onNameUpdate)="updateTodoName($event)"></editable-name-item>
    <span class="spacer"></span>
    <mat-checkbox [(ngModel)]="todo.is_complete"
                  (change)="updateTodo(todo)"
    ></mat-checkbox>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
