<search-field #search></search-field>
<mat-divider></mat-divider>
<mat-list class="to-do-lists">
  <mat-list-item [id]="todoList.id"
                 *ngFor="let todoList of todoLists | todoListNameSearch:search.searchedValue">
    <button mat-mini-fab (click)="removeList(todoList.id)">
      <mat-icon svgIcon="delete"></mat-icon>
    </button>
    <button mat-mini-fab (click)="nameHeader.editListName()">
      <mat-icon svgIcon="edit"></mat-icon>
    </button>
    <todo-list-name [todoList]="todoList"
                    (onNameUpdate)="refreshLists()"
                    (onListClicked)="selectList($event)"
                    #nameHeader></todo-list-name>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

